* {
  font-family: monospace;
  margin: 0;
}

body {
  background-color: rgb(48, 48, 48);
}

/* Header e información personal */
header {
  background-image: url(img/Back.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 80%;
  height: 250px;
  color: rgb(218, 218, 218);
  border: 3px solid black;
}
#Encabezado,
#AboutSection {
  margin-left: 20px;
}
#Encabezado p {
  padding: 5px;
}
h1 {
  padding-top: 20px;
}
#Encabezado h2 {
  padding: 5px;
}

#ImgCV {
  border: 0;
  position: absolute;
  left: 1000px;
  top: 50px;
  width: 150px;
  margin: 0;
  height: 150px;
  border-radius: 100%;
}
/* Main y contenidos */

main {
  height: 1100px;
  background-color: rgb(245, 250, 255);
  border: 3px solid black;
}

#AboutSection {
  margin: 0;
}

#AboutSection p,
#ExpSection h3 {
  padding: 30px 80px 0px 20px;
}

#ExpSection p {
  padding: 10px 80px 0px 20px;
}

#AboutSection h2,
#EducationSection h2,
#SkillsSection h2,
#ExpSection h2,
#BookSection h2 {
  padding-left: 100px;
  padding-top: 40px;
}

#ImgAbout,
#ImgEducation,
#ImgSkills,
#ImgExp,
#ImgBook {
  height: 50px;
  width: 50px;
  position: absolute;
  padding: 20px 20px 20px 20px;
}

#EducationSection ol,
#SkillsSection ul {
  font-size: 16px;
  padding-top: 30px;
}

#EducationSection ol {
  padding-left: 45px;
}

#SkillsSection ul {
  padding-left: 38px;
}

#SkillsSection strong {
  color: rgb(23, 49, 134);
}

#BookSection ul {
  list-style-type: none;
  font-size: 16px;
  padding: 30px 80px 0px 20px;
}

#EducationSection li,
#SkillsSection li,
#BookSection li {
  padding: 0px 0px 15px 10px;
}

footer {
  height: 100px;
  background-color: rgb(29, 45, 61);
  border: 3px solid black;
  text-align: center;
  line-height: 70px;
}

footer span {
  color: white;
  display: inline-block;
}
#ImgIg,
#ImgFace {
  height: 20px;
  width: 20px;
  position: absolute;
  display: inline-block;
}
#ImgIg {
  top: 1420px;
  left: 680px;
}
#ImgFace {
  top: 1420px;
  left: 650px;
}
